* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

#playerNamesContainer{
    position: absolute;
    color: rgb(25, 25, 25);
    font-family: 'Vina Sans', cursive;
    font-size: 2vw;
}

body {
    background-image: url(https://images.unsplash.com/photo-1579546929518-9e396f3cc809?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHx8fA%3D%3D&w=1000&q=80);
    background-size: cover;
    background-position: center;
}

#main{
    height: 100%;
}

#hero {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#board {
    width: 30vw;
    height: 30vw;
    background-color: rgb(255, 107, 107);
    box-shadow: 0px 0px 200px black;
}

#top,
#middle,
#bottom {
    display: flex;
    justify-content: space-between;
}


.box {
    width: 10vw;
    height: 10vw;
    border: 3px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}